fastapi
uvicorn

# IA / NLP
transformers>=4.41.0,<5.0.0
sentence-transformers
tokenizers>=0.22.0,<0.24.0
torch

# LangChain ecosystem
langchain
langchain-community
langchain-core
langchain-huggingface
chromadb

# DB
SQLAlchemy
PyMySQL

# Utilidades
pydantic
python-dotenv
requests

# Archivos / docs
PyPDF2
python-docx

# Audio
sounddevice
soundfile
ffmpeg-python

# Otros
numpy